<div class="modal-content">
  <div class="modal-header">
    <h4 class="title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" class="form-horizontal col-md-12 ">
      <div class="row ">
        <div class="form-group col-md-12 ">
          <label class="control-label ">Nombre</label>
          <input type="text" name="nombre" [(ngModel)]="todoList.title" maxlength="200" class="form-control col-lg-12 "
            required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex" [ngClass]="{'justify-content-between': isEdit}">
    <button *ngIf="isEdit" class="btn btn-default text-danger" (click)="deleteHandler()">Delete</button>
    <div>
      <button class="btn btn-default" (click)="close()">Cancel</button>
      <button class="btn btn-primary" (click)="submit()">{{ textButton }}</button>
    </div>
  </div>
</div>